/**
 * Margins & Padding
 */

//margin cutters

.chop-top {
  margin-top: 0 !important;
}

.chop-bottom {
  margin-bottom: 0 !important;
}

.chop-all {
  margin: 0 !important
}

//margin creators

.breather-stack {
  margin-top: $gutter-width !important;
  margin-bottom: $gutter-width !important;

  &-lil {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  &-tiny {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

.breather-bottom {
  margin-bottom: $gutter-width !important;

  &-lil {
    margin-bottom: 5px !important;
  }
}

.breather-top {
  margin-top: $gutter-width !important;
}

.breather-left-to-right {
  margin: 0 ($gutter-width/2) !important;
}

.breather {
  margin: $gutter-width !important;
}

//padding creator

.padder-stack {
  padding-top: $gutter-width !important;
  padding-bottom: $gutter-width !important;

  &-lil {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &-tiny {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

.padder-left-to-right {
  padding-left: $gutter-width !important;
  padding-right: $gutter-width !important;
}

.padder {
  padding: $gutter-width !important;

  &-lil {
    padding: 10px !important
  }

  &-tiny {
    padding: 5px !important
  }
}

.bump-right {
  margin-right: 5px !important;
}

.bump-left {
  margin-left: 5px !important;
}

/**
 * Wrapper breaker
 */

.wrapper-breaker {
  @media screen and (min-width: $screen-lg-min) {
    margin-left: -9999px !important;
    margin-right: -9999px !important;
  }

  &-mobile-only {
    @media screen and (max-width: $screen-xs-max) {
      margin-left: -$gutter-width !important;
      margin-right: -$gutter-width !important;
    }

    padding-left: $gutter-width !important;
    padding-right: $gutter-width !important;
  }
}

/**
 * Padding breaker
 */

.padding-breaker {
  margin-left: -$main-padding !important;
  margin-right: -$main-padding !important;
  padding-left: $main-padding !important;
  padding-right: $main-padding !important;
}

/**
 * images
 */

img {
  max-width: 100%;
  height: auto;

  &.full {
    width: 100%;
  }

  &.seventy-five {
    width: 75%;
  }

  &.circle {
    border-radius: 50%;
  }

  &.avatar {
    width: 40px;
  }
}

/**
 * floats
 */

@mixin plop-left($maxwidth: $plop-max-width, $minwidth: $plop-breakpoint) {
  display: block;
  margin: 0 auto ($gutter-width / 2);

  @media screen and (min-width: $minwidth) {
    float: left;
    margin-right: $gutter-width;
    max-width: $maxwidth;
  }
}

@mixin plop-right($maxwidth: $plop-max-width, $minwidth: $plop-breakpoint) {
  display: block;
  margin: 0 auto ($gutter-width / 2);

  @media screen and (min-width: $minwidth) {
    float: right;
    margin-left: $gutter-width;
    max-width: $maxwidth;
  }
}

.plop-left {
  @include plop-left();

  &-border {
    border: $plop-border-width solid $plop-border-color;
    @include plop-left();
  }
}

.plop-right {
  @include plop-right();

  &-border {
    border: $plop-border-width solid $plop-border-color;
    @include plop-right();
  }
}

/**
 * Cursor
 */

.pointer {
  cursor: pointer;
}

/**
 * Lists
 */

.kevlar {
  list-style: none;
}

/**
 * borders
 */

.borderless {
  border: none;
}

/**
 * Fonts / Type
 */
.no-line {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.beanstalk {
  text-transform: uppercase;
}

.small-type {
  font-size: 75% !important;
  font-weight: normal;
}

.large-type {
  @media screen and (min-width: $screen-md-min) {
    font-size: 150% !important;
  }
}

a.one-line {
  white-space: nowrap;
}

.bold-spice {
  font-weight: 600 !important;

  a, p {
    font-weight: 600 !important;
  }
}

.slim {
  font-weight: 300 !important;
}

.text-right-desktop {
  text-align: center;

  @media screen and (min-width: $screen-sm-min) {
    text-align: right;
  }
}

/**
 * Responsive iFrame
 */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**
 * Icon Love
 */

i {
  &.huge {
    font-size: 40px;
  }
  &.twitter-color {
    color: #00aced;
  }
  &.facebook-color {
    color: #3b5998;
  }
  &.googleplus-color {
    color: #dd4b39;
  }
  &.pinterest-color {
    color: #cb2027;
  }
}

/**
 * Centering
 */

.center-all-the-things {
  @include flex();

  -ms-flex-pack: center;
  justify-content: center;

  -ms-flex-align: center;
  align-items: center;

  .boogiebox {
    align-self: stretch; //Needs this since parent is display flex
  }
}
