$font-size-base:          1.5rem;
$font-size-large:         1.8rem; // ~18px
$font-size-small:         1.2rem; // ~12px

$font-size-h1:            $font-size-base * 3; // ~36px
$font-size-h2:            $font-size-base * 2.65; // ~30px
$font-size-h3:            $font-size-base * 2.3; // ~24px
$font-size-h4:            $font-size-base * 1.9; // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-base; // ~12px

$lead-font-size: 			floor(($font-size-base * 1.15));
$lead-multiplier: 			1.5;

// Font weight on paragraphs
$p-font-weight: 			400;
$lead-font-weight: 			600;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

// Grays;
$gray-light:				#747474;
$gray-lighter:				#e2e2e2; // #eee
$text-muted:				$gray-light;



/* Blockquote
   ========================================================================== */
//** Blockquote small color
$blockquote-small-color:      $gray-light;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);
//** Blockquote border color
$blockquote-border-color:     $gray-lighter;



/* Border Radius
   ========================================================================== */
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;



/* HR
   ========================================================================== */
$hr-border:                 $gray-light;



/* Gutters
   ========================================================================== */
$gutter-width: 30px;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
$main-padding: 60px;



/* Screen-sizes
   ========================================================================== */
// Extra small screen / phone
$screen-xs-min:              480px;
// Small screen / tablet
$screen-sm-min:              768px;
// Medium screen / desktop
$screen-md-min:              992px;
// Large screen / wide desktop
$screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);



/* Wrapper
   ========================================================================== */
$wrapper-max: 				$screen-lg-min;


// Scroll To Top
// ========================================================================
$scroll-to-top-border-radius: 					50%;
$scroll-to-top-size: 							50px;
$scroll-to-top-from-edges: 						30px;
$scroll-to-top-from-zindex: 					1030;
$scroll-to-top-font-size: 						2rem;


// Ploppers
// ========================================================================
$plop-breakpoint: 								550px;
$plop-max-width: 								50%;
$plop-border-width: 							2px;
$plop-border-color: 							#000;