.boogiebox {
  @media (min-width: $screen-md-min) {
    .md-box-auto {
      @include flex-x(auto);
      width: auto; //overides widths
    }

    .md-box {
      @include flex-x(1);
    }

    .md-box-2x {
      @include flex-x(2);
    }

    .md-box-3x {
      @include flex-x(3);
    }

    .md-box-4x {
      @include flex-x(4);
    }

    .md-box-5x {
      @include flex-x(5);
    }

    .md-box-6x {
      @include flex-x(6);
    }

    .md-box-7x {
      @include flex-x(7);
    }

    .md-box-8x {
      @include flex-x(8);
    }

    .md-box-9x {
      @include flex-x(9);
    }

    .md-box-10x {
      @include flex-x(10);
    }

    .md-box-5 {
      @include flex-xp(5%);
    }

    .md-box-10 {
      @include flex-xp(10%);
    }

    .md-box-12 {
      @include flex-xp(12.5%);
    }

    .md-box-14 {
      @include flex-xp(14.2857142857%);
    }

    .md-box-16 {
      @include flex-xp(16.666666666667%);
    }

    .md-box-20 {
      @include flex-xp(20%);
    }

    .md-box-25 {
      @include flex-xp(25%);
    }

    .md-box-33 {
      @include flex-xp(33.333333333334%);
    }

    .md-box-40 {
      @include flex-xp(40%);
    }

    .md-box-50 {
      @include flex-xp(50%);
    }

    .md-box-60 {
      @include flex-xp(60%);
    }

    .md-box-66 {
      @include flex-xp(66.666666666667%);
    }

    .md-box-75 {
      @include flex-xp(75%);
    }

    .md-box-80 {
      @include flex-xp(80%);
    }

    .md-box-100 {
      @include flex-xp(100%);
    }

    .md-order-1 {
      @include flexorder(1);
    }

    .md-order-2 {
      @include flexorder(2);
    }

    .md-order-3 {
      @include flexorder(3);
    }

    .md-order-4 {
      @include flexorder(4);
    }

    .md-order-5 {
      @include flexorder(5);
    }

    .md-order-6 {
      @include flexorder(6);
    }
  }
}
