//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1,
.h1 {
  @include headings($font-size-h1);
}

h2,
.h2 {
  @include headings($font-size-h2);
}

h3,
.h3 {
  @include headings($font-size-h3);
}

h4,
.h4 {
  @include headings($font-size-h4);
}

h5,
.h5 {
  @include headings($font-size-h5);
}

h6,
.h6 {
  @include headings($font-size-h6);
}

// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
  font-weight: $p-font-weight;
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($lead-font-size * $lead-multiplier);
  }
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: $font-size-small;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-center-xs {
  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Transformation
@mixin text-lowercase {
  text-transform: lowercase;
}

.text-lowercase {
  @include text-lowercase
}

@mixin text-uppercase {
  text-transform: uppercase;
}

.text-uppercase {
  @include text-uppercase
}

@mixin text-capitalize {
  text-transform: capitalize;
}

.text-capitalize {
  @include text-capitalize
}

// Contextual colors
.text-muted {
  color: $text-muted;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  font-weight: $p-font-weight;

  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Misc
// -------------------------

.initialism {
  font-size: 90%;
  @include text-uppercase();
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before {
      content: '';
    }

    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}
